<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="userDao" class="net.zhoubian.app.dao.mysql.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="classDao" class="net.zhoubian.app.dao.mysql.ClassDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="subclassDao" class="net.zhoubian.app.dao.mysql.SubClassDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="cityDao" class="net.zhoubian.app.dao.mysql.CityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="tmessageDao" class="net.zhoubian.app.dao.mysql.TMessageDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="locationDao" class="net.zhoubian.app.dao.mysql.LocationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
</beans>