<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="userAction" class="net.zhoubian.app.web.action.UserAction"
		scope="prototype" autowire="byName">
		<property name="userService" ref="userService"></property>
		<property name="mapService" ref="mapService" />
	</bean>
	<bean id="categoryAction" class="net.zhoubian.app.web.action.CategoryAction"
		scope="prototype" autowire="byName">
	</bean>
	<bean id="queryHitAction" class="net.zhoubian.app.web.action.QueryHitAction"
		scope="prototype" autowire="byName">
	</bean>
	<bean id="areaAction" class="net.zhoubian.app.web.action.AreaAction"
		scope="prototype" autowire="byName">
	</bean>
	<bean id="page" class="net.zhoubian.app.util.Page" />
	<bean name="chatAction" class="net.zhoubian.app.web.action.ChatAction" scope="prototype" autowire="byName">
		<property name="chatService" ref="chatService" />
		<property name="userService" ref="userService" />
		<property name="mapService" ref="mapService" />
		<property name="page" ref="page" />
	</bean>
	<bean name="chatWithAction" class="net.zhoubian.app.web.action.ChatWithAction" scope="prototype" autowire="byName">
		<property name="chatService" ref="chatService" />
		<property name="page" ref="page" />
	</bean>
	<bean id="mapAction" class="net.zhoubian.app.web.action.MapAction"
		scope="prototype" autowire="byName">
		<property name="mapService" ref="mapService"></property>
	</bean>
	<bean id="infoAction" class="net.zhoubian.app.web.action.InfoAction"
		scope="prototype" autowire="byName">
		<property name="infoService" ref="infoService"></property>
	</bean>
</beans>