<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	
	<bean id="userAction" class="net.zhoubian.app.web.action.UserAction"
		scope="prototype" autowire="byName">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="categoryAction" class="net.zhoubian.app.web.action.CategoryAction"
		scope="prototype" autowire="byName">
	</bean>
</beans>