<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="userService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="net.zhoubian.app.service.impl.UserServiceImpl">
				<property name="userDao" ref="userDao" />
			</bean>
		</property>

	</bean>
	<bean id="mapService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="net.zhoubian.app.service.impl.MapServiceImpl">
				<property name="locationDao" ref="locationDao"/>
			</bean>
		</property>
	</bean>
	<bean id="gridUtil" class="net.zhoubian.app.util.GridUtil">
	</bean>
	
	<bean id="chatService" class="net.zhoubian.app.service.impl.ChatServiceImpl">
		<property name="chatDao" ref="chatDao" />
	</bean>
	<bean id="cityService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="net.zhoubian.app.service.impl.CityServiceImpl">
				<property name="cityDao" ref="cityDao"/>
			</bean>
		</property>
	</bean>
	<bean id="infoService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="net.zhoubian.app.service.impl.InfoServiceImpl">
				<property name="infoDao" ref="infoDao"/>
			</bean>
		</property>
	</bean>
</beans>