<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
<!-- 
		<property name="connection.url">jdbc:mysql://localhost:3306/vicinity</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
 -->		
		<mapping resource="net/zhoubian/app/model/mysql/Enterprise.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Record.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/InfoNew.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/County.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/CategoryStruct.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Mypoke.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/EnterpriseApply.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/SystemParameters.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/TopicHot.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Activity.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/LocationNamedApply.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/GroupBuy.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Street.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Attention.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/InformationComment.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Location.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Diary.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Poke.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Myapp.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Comment.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/LoginLog.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/InfoMetadata.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Keywords.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/LocationType.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/SiteManager.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/UserPrivilege.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/GroupBuyParticipate.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Repaste.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Poll.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/MicroBlog.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Pic.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/UserTypePrivilege.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/IndexItem.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/CategoryHot.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/LocationHot.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Province.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Operator.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Album.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Blog.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Privilege.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Class.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/User.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Message.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/UserScore.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Visitor.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Information.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/App.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Category.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Mygift.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/SubClass.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Gift.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/City.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Friend.hbm.xml" />
		<mapping resource="net/zhoubian/app/model/mysql/Chat.hbm.xml" />
		
	</session-factory>
</hibernate-configuration>
